.title {
  font-family: Outfit, var(--mantine-font-family);
  font-weight: 500;
}

.subtitle {
  color: var(--mantine-color-dimmed);
  font-size: var(--mantine-font-size-sm);
  text-align: center;
  margin-top: 5px;
}

.avatarWrapper {
  position: relative;
  cursor: pointer;
}

.avatarOverlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  transition: opacity 0.2s ease;

  color: white;
}

.avatarWrapper:hover .avatarOverlay {
  opacity: 1;
}