.hint-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.hint-popup {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 300px;
}

.hint-popup h2 {
    margin: 0 0 10px;
    font-size: 20px;
}

.hint-popup p {
    font-size: 16px;
    margin-bottom: 15px;
}

.hint-popup img {
    width: 100%;
    height: auto;
    padding: 10px;
}


.hint-close-btn {
    background: #ff4757;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.hint-close-btn:hover {
    background: #e84118;
}
