.artist-info {
    flex-grow: 1;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.artist-image {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
}