.guess-form {
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.guess-input {
    flex: 1;
    padding: 12px 12px;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    color: black;
    box-sizing: border-box;
}

.guess-submit {
    position: absolute;
    right: 1%;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
}

.guess-submit-icon{
    width: 24px;
    height: 24px;

}

.guess-submit:hover {
    background-color: #444;
    transform: translateY(-50%) scale(1.05);
}

.guess-submit:active {
    background-color: #555;
}

.autocomplete-list {
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    margin: 0 auto;
    padding: 0;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 5;
}

.autocomplete-item {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 15px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

.autocomplete-item:hover {
    background: #f0f0f0;
}

.track-image {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    object-fit: cover;
}

.track-info {
    flex-grow: 1;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}



.track-image:hover {
    transform: scale(1.1);
}
