.guess-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    gap: 10px;
    width: 100%;
    max-width: 700px;
}

.guess-form input {
    width: 90%;
    max-width: 700px;
    padding: 12px;
    font-size: 1.2rem;
    border: 1px solid #aaa;
    border-radius: 8px;
    background-color: #3a3a3a;
    color: #fff;
    outline: none;
    transition: all 0.3s ease;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.guess-form button {
    padding: 12px 24px;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
}

.guess-form button:hover {
    background-color: #444;
    transform: translateY(-2px);
}

.guess-form button:active {
    transform: translateY(1px);
    background-color: #555;
}

.autocomplete-list {
    width: 80%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.autocomplete-item {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 15px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

.autocomplete-item:hover {
    background: #f0f0f0;
}

.track-image {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    object-fit: cover;
}

.track-info {
    flex-grow: 1;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}



.track-image:hover {
    transform: scale(1.1);
}
